/* ============================================================================
 | Typography
 * ========================================================================= */

Typography = {}

Typography.fonts = {}
Typography.fonts.primary = 'Arial' \, sans-serif;

Typography.sizes = {}
Typography.sizes.base = 16px

Typography.weights = {}
Typography.weights.regular = 400
Typography.weights.bold = 700

/* ============================================================================
 | Colors
 * ========================================================================= */

Colors = {}
