html
body
    padding 0
    margin 0
    font-family: Typography.fonts.primary
    font-size: Typography.sizes.base
    font-weight: Typography.weights.regular
    line-height 1.6

input
select
textarea
button
    appearance none
    padding 0
    margin 0
    font-family: Typography.fonts.primary
    font-size: Typography.sizes.base
    font-weight: Typography.weights.regular
    border none
    border-radius 0
    background transparent
    outline none
    resize none

fieldset
    padding 0
    margin 0
    border none

strong
    font-weight: Typography.weights.bold

h1
h2
h3
h4
h5
h6
    line-height 1.3
