<html lang="en">
    <head>
        <title>App</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% for stylesheet in css %}
        <link type="text/css" rel="stylesheet" href="/static/{{ stylesheet }}" />
        {% endfor %}
    </head>
    <body>
        <div id="app">{{ body|safe }}</div>
        <script>
            window.__PRELOADED_STATE__ = {{ state|safe }};
        </script>
        {% for script in js %}
        <script src="/static/{{ script }}"></script>
        {% endfor %}
    </body>
</html>